In [1]:
path = "/Users/vikash/Projects/TIDE_CO/"

In [2]:
import numpy as np
import pandas as pd

In [6]:
data = pd.read_csv(path + 'data.csv', sep = ":" )

In [7]:
data.head()

,receipt_id,company_id,matched_transaction_id,feature_transaction_id,DateMappingMatch,AmountMappingMatch,DescriptionMatch,DifferentPredictedTime,TimeMappingMatch,PredictedNameMatch,ShortNameMatch,DifferentPredictedDate,PredictedAmountMatch,PredictedTimeCloseMatch
0,"10,000",10000,"10,468","10,000",0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,"10,000",10000,"10,468","10,001",0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
2,"10,000",10000,"10,468","10,003",0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
3,"10,000",10000,"10,468","10,004",0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4,"10,000",10000,"10,468","10,005",0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [9]:
data.shape

(12034, 14)

In [10]:
data.tail()

,receipt_id,company_id,matched_transaction_id,feature_transaction_id,DateMappingMatch,AmountMappingMatch,DescriptionMatch,DifferentPredictedTime,TimeMappingMatch,PredictedNameMatch,ShortNameMatch,DifferentPredictedDate,PredictedAmountMatch,PredictedTimeCloseMatch
12029,"50,226",50000,"50,368","50,074",0.65,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
12030,"50,226",50000,"50,368","50,075",0.65,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
12031,"50,226",50000,"50,368","50,366",0.00,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
12032,"50,226",50000,"50,368","50,367",0.00,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
12033,"50,226",50000,"50,368","50,368",0.95,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

In [11]:
data.dtypes

receipt_id                  object
company_id                   int64
matched_transaction_id      object
feature_transaction_id      object
DateMappingMatch           float64
AmountMappingMatch         float64
DescriptionMatch           float64
DifferentPredictedTime     float64
TimeMappingMatch           float64
PredictedNameMatch         float64
ShortNameMatch             float64
DifferentPredictedDate     float64
PredictedAmountMatch       float64
PredictedTimeCloseMatch    float64
dtype: object

In [17]:
## Replacing Commas within the numbers with ""
data['receipt_id'] = data['receipt_id'].apply(lambda x: x.replace(',', ''))
data['matched_transaction_id'] = data['matched_transaction_id'].apply(lambda x: x.replace(',', ''))
data['feature_transaction_id'] = data['feature_transaction_id'].apply(lambda x: x.replace(',', ''))

In [18]:
data.tail()

,receipt_id,company_id,matched_transaction_id,feature_transaction_id,DateMappingMatch,AmountMappingMatch,DescriptionMatch,DifferentPredictedTime,TimeMappingMatch,PredictedNameMatch,ShortNameMatch,DifferentPredictedDate,PredictedAmountMatch,PredictedTimeCloseMatch
12029,50226,50000,50368,50074,0.65,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
12030,50226,50000,50368,50075,0.65,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
12031,50226,50000,50368,50366,0.00,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
12032,50226,50000,50368,50367,0.00,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
12033,50226,50000,50368,50368,0.95,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0